.icon-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  color: var(--color-text);
  cursor: pointer;
  line-height: 1;
  padding: 0;
  opacity: 0.5;
  box-shadow: none;
  flex-shrink: 0;

  &:hover {
    opacity: 1;
  }
}

.icon-btn--sm {
  font-size: 1rem;
  width: 24px;
  height: 24px;
}

.icon-btn--md {
  font-size: 1.2rem;
  width: 28px;
  height: 28px;
}

.icon-btn--lg {
  font-size: 1.4rem;
  width: 32px;
  height: 32px;
}
