@use "normalize.css";

html,
body,
#root {
  height: 100%;
  margin: 0;
  overflow: hidden;
  overscroll-behavior: none;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: var(--color-text);
  background-color: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1 {
  text-align: center;
  margin-bottom: 1.5rem;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--color-text);
  background-color: var(--color-surface);
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  outline: none;
}

button {
  cursor: pointer;
}

button:hover {
  border-color: var(--color-primary);
}

button:active {
  border-color: var(--color-primary);
  background-color: var(--color-surface-active);
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}